<% extend '_old' %>
<h2><%- @title %></h2>
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Комплектация</td>
            <td>Стоимость, руб.</td>
        </tr>
        <tr>
            <td>ЭСОП «Профессор-кадры», версия 4.2 расширенная<br /><br />БД, тестирование, обработка, статистическая обработка, профотбор, оценка предрасположенности к проф.деятельности, оценка профготовности, интегральная профоценка, дистанционное тестирование, конструктор тестов.</td>
            <td>53.100</td>
        </tr>
        <tr>
            <td><span>ЭСОП «Профессор-кадры», версия 4.2 стандарная<br /><br />БД, тестирование, обработка, статистическая обработка, профотбор, оценка предрасположенности к проф.деятельности, оценка профготовности, интегральная профоценка, дистанционное тестирование.<br /></span></td>
            <td>42.480</td>
        </tr>
        <tr>
            <td>Дополнительный ключ для «Профессор-кадры»</td>
            <td>50% от цены комплекта</td>
        </tr>
    </tbody>
</table>
<h2>Консультации, установка, обслуживание</h2>
Установка и настройка систем "ПРОФЕССОР" (без учета транспортных и накладных расходов)1 установка2.000
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>Наименование услуги</td>
            <td>ед. объема услуги</td>
            <td>Стоимость, руб.</td>
        </tr>
        <tr>
            <td>Абонементное обслуживание, включающее телефонные и очные консультации, обновление и сопровождение системы</td>
            <td>1 год</td>
            <td>50% от стоимости системы</td>
        </tr>
        <tr>
            <td>Индивидуальная консультация по системам "ПРОФЕССОР" (в офисе компании "Психология и бизнес он-лайн")</td>
            <td>1 час</td>
            <td>1.000</td>
        </tr>
        <tr>
            <td rowspan="2">Индивидуальная консультация по системам "ПРОФЕССОР" (без учета транспортных и накладных расходов)</td>
            <td>выезд</td>
            <td>800 </td>
        </tr>
        <tr>
            <td> 1 час</td>
            <td>1.000</td>
        </tr>
        <tr>
            <td>Информационная стыковка программных продуктов Заказчика с системами "ПРОФЕССОР"</td>
            <td>1 час</td>
            <td>3.000</td>
        </tr>
        <tr>
            <td>Доставка систем "ПРОФЕССОР" Заказчику (в пределах МКАД)</td>
            <td>1 доставка</td>
            <td>500</td>
        </tr>
    </tbody>
</table>
К услугам пользователей системы:
<br />— функционирует постоянная «горячая линия»;
<br />— телефонные консультации по вопросам использования системы, обеспечивается обучение пользователей, обслуживание и сопровождение;
<br />— возможна адаптация батарей тестовых методик и настройка профессиональных оценок под нужды заказчика, комплексный анализ результатов психодиагностики для принятия управленческих решений.
<h2>Подготовка к работе с системой</h2>
<table class="table table-bordered table-striped">
    <tbody>
        <tr>
            <td>№</td>
            <td>Содержание</td>
            <td>акад. час.</td>
            <td>Стоимость, руб.</td>
        </tr>
        <tr>
            <td colspan="4">Основные курсы по системе «Профессор-кадры»</td>
        </tr>
        <tr>
            <td rowspan="3">1</td>
            <td>Состав и возможности системы кадрового сопровождения «Профессор-кадры»:<br />— функциональная структура системы;<br />— установка и настройка системы «Профессор-кадры»;<br />— основы работы с БД системы «Профессор-кадры»;<br />— проведение тестирования;<br />— обработка результатов;<br />— статистический анализ результатов диагностики;<br />— работа в модуле «Статистика»;<br />— оценка профпригодности;<br />— профранжирование;<br />— работа в модуле «Профотбор»;<br />— дистанционная диагностика;<br />— импорт данных диагностики в основную систему.</td>
            <td> </td>
            <td> </td>
        </tr>
        <tr>
            <td>Экспресс</td>
            <td> 8</td>
            <td> 15.160</td>
        </tr>
        <tr>
            <td>Расширенный</td>
            <td>12 </td>
            <td> 21.240</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Возможности системы «Профессор-кадры» по работе с тестами, батареями, интерпретациями результатов диагностики, оценками профпроигодности. Работа в модуле «Конструктор тестов».</td>
            <td> 6</td>
            <td> 21.240</td>
        </tr>
        <tr>
            <td colspan="4">Дополнительные курсы</td>
        </tr>
        <tr>
            <td>3</td>
            <td> Проведение дистанционной и массовой психологической диагностики с использованием системы «Профессор-кадры». Работа с использованием корпоративных сетей.</td>
            <td> 4</td>
            <td>7.080 </td>
        </tr>
        <tr>
            <td>4</td>
            <td> Формирование БД результатов психологической диагностики (ответы и шкалы). Работа с программой для формирования БД «Профессор».</td>
            <td> 3</td>
            <td> 5.540</td>
        </tr>
    </tbody>
</table>
<a href="/products/assessment/professor" class="siteDivButton">Вернуться к продукту</a>