<% extend '_old' %>
<h1>Библиотека</h1>
<h2>Последние поступления</h2>
<% for a in @articles : %>
  <div>
    <a href="/library/<%- a.id %>"><%- a.title %></a>
    <br />
    <%- a.shortDesc %>
  </div>
<% end %>
<h2>Рубрики</h2>
<div>
    <p>
        <a href="/library/involvement">Вовлеченность</a>
        <br />
        Вовлечённость — это готовность человека целиком посвящать себя делу, вкладывать в него душу. Вовлеченность, наряду с удовлетворенностью и лояльностью, является важным показателем качества управления, результатом эффективной системы мотивации. В рубрике «вовлеченность» — материалы о том, как устроена вовлечённость, какие приёмы повышения вовлеченности используют в разных компаниях, какие существуют инструменты измерения вовлеченности.
    </p>
    <p>
        <a href="/library/ideology">Идеология</a>
        <br />
        Все мы существуем в определенной культурной среде, которая воздействует на восприятие. Особенности массового сознания важно учитывать в управлении: русские, к примеру, совсем не немцы и мотивируются по-другому. Как влиять на массовое сознание, формировать имидж, строить бренд с учетом психологии восприятия. Как правильно организовать внутренние и внешние коммуникации. Об этом — в разделе Идеология и PR.
    </p>
    <p>
        <a href="/library/corporate_culture">Корпоративная культура</a>
        <br />
        Корпоративная культура — довольно сложная субстанция, требующая системного подхода и умения работать с убеждениями и ценностями людей. Понимание того, из чего состоит корпоративная культура и как её можно формировать, позволяет осознанно развивать взаимоотношения в организации и трансформировать их в соответствие с задачами бизнеса. «Правильная» корпоративная культура — это минимум непродуктивных потерь, вызванных «человеческим фактором» и высокая вовлеченность персонала.
    </p>
    <p>
        <a href="/library/assessment">Оценка персонала</a>
        <br />
        Менеджер сегодня всё больше становится специалистом по работе с людьми. Коучем, наставником, тренером. Для этого нужны специальные инструменты. Как говорил Стив Джобс, «отличие человека от других  существ — в том, что он является изобретателем инструментов, расширяющих его способности». Качественный инструмент отличает хорошего мастера и наша цель — найти удобные инструменты для оценки, обучения, мотивации и развития людей.
    </p>
</div>
