<% extend '_master' %>
<div class="wrapper wrapper-event">
        <div class="event-top-box">
            <div class="l-1260">
                <div class="holder">
                    <h1 class="page-heading">Профессиональные компетенции руководителя <span class="bold-text">Управление мотивацией и вовлеченностью </span></h1>
                    <!--<div id="reg-form" class="form-box reg-form">
                        <form action="#">
                            <fieldset>
                                <div class="form-row">
                                    <input class="text-input" type="text" placeholder="Ваш номер телефона*, перезвоним" required="required">
                                    <i class="demo-icon icon-ok">&#xe800;</i>
                                    <i class="demo-icon icon-cancel">&#xe801;</i>
                                    <button type="button" class="submit" id="submit-reg-form">Зарегистрироваться</button>
                                </div>
                            </fieldset>
                        </form>
                        <div class="alert-success hidden" id="reg-sucess-alert">
                            <h3>Спасибо! В теченни 20 минут мы Вам перезвоним.</h3>
                        </div>
                    </div>-->
                </div>
            </div>
        </div><!-- .event-top-box -->
        <div class="event-info">
            <div class="l-900">
                <div class="event-info-top">
                    <img class="ico-calendar" src="/media/images/ico-calendar.svg" alt="">
                    <div class="date-info">
                        <p class="date-big">11&mdash;12/11/2017</p>
                        <p><em>суббота, начало в 10:00</em></p>
                    </div>
                    <div class="lector-info">
                        <img class="round-img" src="/media/images/img-face-round.png" alt="Фотография лектора">
                        <div class="lector-name">
                            <em>Мероприятие ведёт:</em>
                            <p><a href="#event_leads">Ниесов Игорь Владимирович</a></p>
                        </div>
                    </div>
                </div>
                <ul class="event-list l-3col">
                    <li>
                        <div class="holder">
                            <em>Место проведения:</em>
                            <p>г. Москва, ул. Мясницкая, д. 20.<br><a href='http://ikm.hse.ru/courses/short/professionalnye-kommunikacii-rukovoditelya-upravlenie-motivaciey-i-produktivnostyu' target='_blank'>Институт коммуникационного менеджмента НИУ ВШЭ</a>.</p>
                        </div>
                    </li>
                    <li>
                        <div class="holder">
                            <em>Стоимость:</em>
                            <p>19 000 руб. и 17 000 руб. для<br>слушателей и выпускников ИКМ.<br>Количество мест ограничено.</p>
                        </div>
                    </li>
                    <li>
                        <div class="holder">
                            <em>Выдаваемые документы:</em>
                            <p>Удостоверение о повышении квалификации НИУ ВШЭ.</p>
                        </div>
                    </li>
                </ul>
                <div class="event-purpose">
                    <div class="l-900">
                        <div class="img-holder">
                            <img class="full-width" src="/media/images/product4/ev_com/images/002.jpg" alt="">
                        </div>
                        <h3>Почему вовлеченность?</h3>
                        <p>Важнейший принцип управления стандарта ICO 9000 &mdash; вовлечение сотрудников, которое «даёт
                        возможность организации с выгодой использовать их способности». Однако для большинства
                        руководителей вовлеченность остается камнем преткновения.</p>
                        <p>Вовлеченность формируется в момент взаимодействия руководителя со своим подчинённым.
                        Именно здесь создаётся мотивация, готовность сотрудника вкладывать в работу душу, брать
                        ответственность и делать больше, чем предусмотрено должностными инструкциями.</p>
                        <p>Для этого руководитель должен обладать целым набором специальных знаний, иметь
                        специфические качества, выступать в разных ролях &mdash; педагога, психолога, тренера, наставника,
                        коуча и т.д.</p>
                        <h3>Зачем?</h3>
                        <p>Разобраться &mdash; что такое мотивация, как ею управлять, и какие инструменты мотивации нужны
                            руководителю, чтобы управлять вовлеченностью сотрудников.</p>
                        <h3>Для кого?</h3>
                        <p>Для руководителей, которые хотят добиться от своих подчинённых большей вовлеченности и
                            лучших результатов.</p>
                            <p>Для специалистов в области управления персоналом, чтобы узнать о последних открытиях в сфере
                            психологии мотивации и с их помощью построить в своих компаниях действенную систему
                            управления вовлеченностью.</p>
                    </div>
                </div>
                <div class="event-knowledge">
                    <div class="l-900">
                        <h2>Ключевые результаты</h2>
                        <h3>После обучения участники тренинга смогут:</h3>
                        <ul class="l-3col step-list">
                            <li>
                                <span class="page-heading">1</span>
                                <p>Разбираться в глубинных процессах, влияющих на поступки людей. Знание природы
                                    мотивации даёт возможность осознанно управлять теми тайными пружинами, которые
                                    «подталкивают» людей к действиям.</p>
                            </li>
                            <li>
                                <span class="page-heading">2</span>
                                <p>Определять мотивационный профиль как человека, так и организации. Чтобы выбирать
                                    действенный набор управляющих воздействий и контролировать процесс происходящих
                                    изменений.</p>
                            </li>
                            <li>
                                <span class="page-heading">3</span>
                                <p>Развивать у себя и у руководителей компании те качества, которые необходимы, чтобы
                                    управлять мотивацией. Видеть, какие качества нужны, и составлять персональную программу
                                    развития этих качеств.</p>
                            </li>
                            <li>
                                <span class="page-heading">4</span>
                                <p>Получить целый комплекс эффективных тренажеров для выработки навыков мотивирующей
                                    управленческой коммуникации.</p>
                            </li>
                            <li>
                                <span class="page-heading">5</span>
                                <p>Познакомиться с уникальным опытом проведения мотивационных мероприятий и проектов
                                    по повышению вовлеченности в целом ряде российских компаний.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="l-900">
                    <!-- <h3>Почему вовлеченность?</h3> -->
                    <p>Также участники тренинга получат доступ к современным онлайн-сервисам, позволяющим
                        проводить любые виды дистанционной оценки вовлеченности, экспресс-анализ результатов, а
                        также бенчмарк – более 50 предприятий России и СНГ.</p>
                </div>
                <!--
                <div class="event-formulate">
                    <div class="l-900">
                        <h2>За 21 день Вы сформируете:</h2>
                        <h3>10 полезных привычек профессионального коммуникатора:</h3>
                        <ol class="num-list">
                            <li>Паттернинг</li>
                            <li>Широкий фокус</li>
                            <li>Выявление убеждений</li>
                            <li>Безоценочное восприятие</li>
                            <li>Рефлексивная обратная связь</li>
                            <li>Поиск комплементарных качеств</li>
                            <li>Управление негативными эмоциями</li>
                            <li>Подстройка к позитивному намерению</li>
                            <li>Моделирование целевых установок</li>
                            <li>Трансформация убеждений</li>
                        </ol>
                    </div>
                </div>
            </div> -->
        </div><!-- .event-info -->
        <!-- <div class="about-program">
            <div class="l-1920 grey-box">
                <h2>Структура программы </h2>
                <div class="img-holder">
                    <img class="full-width" src="/media/images/product4/ev_com/images/001new.png" alt="">
                </div>
            </div>

        </div> -->

        <div class="event-leads" id="event_leads">
            <div class="l-900">
                <h2>Кто ведёт</h2>
                <div class="img-holder">
                    <img class="full-width" src="/media/images/product4/ev_com/images/003.jpg" alt="">
                </div>
                <!-- <p>Игорь Ниесов — персональный тренер с 1995 года. Обучал приёмам профессиональной коммуникации и управления политиков, дипломатов, военных, сотрудников спец.служб, врачей, учителей, промышленников и предпринимателей. </p>
                <p>Среди клиентов: Администрация Президента РФ, Администрация г. Казань, Департамент образования г. Москвы, Судебный департамент РФ, Билайн, Мегафон, МТС, МГТС, Ростелеком, СТС Медиа, ВТБ24, СДМ Банк, UniCreditBank, Ренова, Роснефть, Сургутнефтегаз, P&G, PWC, Mars, Адамас, Мотордеталь, КОМОС Групп и ещё около 100 компаний.</p> -->
                <br/>
                <p>Ниесов Игорь Владимирович. Консультант в области мотивации и личной эффективности
                руководителей. Среди клиентов (проекты, связанные с развитием мотивации и повышением
                вовлеченности): «МТС», «Билайн», «Мегафон», «Ростелеком», Сбербанк РФ, «ВТБ 24», РН Банк,
                Московская Биржа, «Северсталь», «Евроцемент групп», «Мотордеталь», КОМОС Групп,
                «Роснано», «Ренова», СТС Медиа, X-Fit, PWC, «БерлинХеми Менарини», Novo Nordisk, Servier,
                P&amp;G, и др.</p>
            </div>
        </div> <!-- .event-leads -->

        <div class="review-box">
            <div class="l-1260">
                <h2>Как это было </h2>
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s3.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s4.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s5.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s6.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s7.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s8.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s9.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s10.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s11.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s12.jpg)"></div>
                    </div>
                </div><!-- .gallery-top -->
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s3.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s4.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s5.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s6.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s7.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s8.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s9.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s10.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s11.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s12.jpg)"></div>
                    </div>
                </div><!-- .gallery-thumbs -->
                <div class="l-900 review-holder">
                    <h2>Отзывы участников</h2>
                    <div class="swiper-review-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <p>Матрица мотивации экономит время, она дает понять, что и когда делать. Это рабочий инструмент.</p>
                                <span class="review-autor">Денис</span>
                            </div>
                            <div class="swiper-slide">
                                <p>Скажу кратко: «Технологичность. Систематизация. Конкретизация».</p>
                                <span class="review-autor">Елена</span>
                            </div>
                            <div class="swiper-slide">
                                <p>Нужно заставлять себя думать, анализировать, чтобы прийти к осознанию того, что ты делаешь, чтобы в работе действовать не формально, а осознанно.</p>
                                <span class="review-autor">Лина</span>
                            </div>
                            <div class="swiper-slide">
                                <p>Душа обязана трудиться. Думать, как балансировать, как этот баланс удержать в разных ситуациях.</p>
                                <span class="review-autor">Анастасия</span>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div><!-- .review-holder -->
            </div>
        </div><!-- .review-box -->
        <div class="grey-box form-section">
            <div class="l-600">
                <h2>Регистрация</h2>
                <p>
                    <a class="link-black" href="tel:+74956289000">+7&nbsp;(495)&nbsp;628-90-00</a>, <a class="link-black" href="tel:+74956217423">+7 (495) 621-74-23</a> &ndash; Елена Грушина <br> <a class="link-black" href="tel:+79162930240">+7&nbsp;(916)&nbsp;293-02-40</a> &ndash; Марина Захарова
                </p>
                <div id="user-form" class="form-box">
                    <img class="ico-quick-reg" src="/media/images/ico-qiuck-reg.svg" alt="">
                    <form action="#" id="callme">
                        <fieldset>
                            <div class="form-row">
                                <input name="fosName" class="text-input" type="text" placeholder="Ваше имя" required="required">
                                <i class="demo-icon icon-ok">&#xe800;</i>
                                <i class="demo-icon icon-cancel">&#xe801;</i>
                            </div>
                            <div class="form-row">
                                <input name="fosPhone" class="text-input" type="text" placeholder="Номер телефона" required="required">
                                <i class="demo-icon icon-ok">&#xe800;</i>
                                <i class="demo-icon icon-cancel">&#xe801;</i>
                            </div>
                            <div class="form-row">
                                <input name="fosEmail" class="text-input" type="email" placeholder="Электронная почта" required="required">
                                <i class="demo-icon icon-ok">&#xe800;</i>
                                <i class="demo-icon icon-cancel">&#xe801;</i>
                            </div>
                            <div class="form-row">
                                <button type="button" class="submit" id="submit-user-form">Отправить</button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="alert-success hidden" id="sucess-alert">
                        <h3>Спасибо!<br>Мы Вам перезвоним.</h3>
                    </div>
                </div><!-- #user-form -->
            </div>
        </div><!-- .form-section -->
    </div><!-- .wrapper -->
</div>
<% block 'scripts' : %>    
    <!-- Initialize Swiper -->
    <script type="text/javascript">
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 0,
        loop:true,
        loopedSlides: 12
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 0,
        slidesPerView: 8,
        touchRatio: 0.2,
        loop:true,
        loopedSlides: 12,
        slideToClickedSlide: true,
        breakpoints: {
            450: {
                slidesPerView: 2
            },
            550: {
                slidesPerView: 3
            },
            750: {
                slidesPerView: 4
            },
            900: {
                slidesPerView: 5
            },
            1024: {
                slidesPerView: 6
            },
            1150: {
                slidesPerView: 7
            },
        }
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;
    var swiper = new Swiper('.swiper-review-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true
        //autoHeight: true
    });
    </script>
    <% end %>