<% extend 'admin/views/layout' %>

<% block 'head' : %>
<script src="/js/admin/tinymce/tinymce.min.js"></script>
<% end %>

<div class="container">
    <form method="post" class="form-modules form-horizontal form-label-left">
        <div class="panel panel-primary">
            <!-- Default panel contents -->
            <div class="panel-heading"><%- @data?.title %></div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Название</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input name="title" id="inputName" value="<%- @data?.title %>" class="form-control" placeholder="Название" type="text">
                    </div>
                    <br class="clear">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Описание</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <textarea class="form-control" name="short_descr" placeholder="Description" rows="3"><%- @data?.short_descr %></textarea>
                    </div>
                    <br class="clear">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Интро</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <textarea class="form-control" name="intro" placeholder="Интро" rows="3"><%- @data?.intro %></textarea>
                    </div>
                    <br class="clear">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2  col-xs-12">Текст</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <textarea class="form-control area-editor" name="body" placeholder="Текст" rows="10"><%- @data?.body %></textarea>
                    </div>
                    <br class="clear">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Author</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <input name="author" value="<%- @data?.author %>" class="form-control" placeholder="Author" type="text">
                    </div>
                    <br class="clear">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Keywords</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <textarea class="form-control"  name="keywords" placeholder="Keywords" rows="3"><%- @data?.keywords %></textarea>
                    </div>
                    <br class="clear">
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2 col-sm-2 col-xs-12">Description</label>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <textarea class="form-control" name="description" placeholder="Description" rows="3"><%- @data?.description %></textarea>
                    </div>
                    <br class="clear">
                </div>
            </div>

            <div class="panel-footer text-right">
                <button class="btn btn-success" type="submit">Сохранить</button>
            </div>
        </div>
    </form>
</div>

<% block 'footer' : %>
<script>
	tinymce.init({
		selector: ".area-editor",
		plugins: [
			"advlist autolink lists link image charmap print preview anchor",
			"searchreplace visualblocks code",
			"insertdatetime media table contextmenu paste",
			" emoticons imagetools fullscreen"
		],
		toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist  | link image | media code",
		imagetools_cors_hosts: ['www.tinymce.com', 'codepen.io'],
		image_class_list: [
			{title: 'None', value: ''},
			{title: 'Clear', value: 'clear'},
			{title: 'Thumbnail', value: 'thumbnail'}
		],
		class_list: [
			{title: 'None', value: ''},
			{title: 'Clear', value: 'clear'},
			{title: 'Thumbnail', value: 'thumbnail'}
		],
		style_formats: [
			{title: 'Статья по теме', block: 'div', attributes: {class: 'textAdvert'}},
			{title: 'Интро', block: 'div', attributes: {id: 'articleIntro'}},
			{title: 'Цитата', block: 'p', inline: 'p', attributes: {class: 'textBlockquote'}},
			{title: 'textBlock', block: 'p', inline: 'p', attributes: {class: 'textBlock'}},
			{title: 'textBlockLeft', block: 'p', inline: 'p', attributes: {class: 'textBlockLeft noMobile'}},
			{title: 'textBlockRight', block: 'p', inline: 'p', attributes: {class: 'textBlockRight noMobile'}},

			{title: 'Заголовки', items: [
				{title: 'Заголовок H1', block: 'h1'},
				{title: 'Заголовок H2', block: 'h2'},
				{title: 'Заголовок H3', block: 'h3'},
				{title: 'Заголовок H4', block: 'h4'},
				{title: 'Заголовок H5', block: 'h5'},
				{title: 'Заголовок H6', block: 'h6'},

			]},
		],

		height: 500,
		menubar: false,
		image_advtab: true,
		image_dimensions: true,
		document_base_url : "/",
		relative_urls: false,
		language: "ru",
	});

	tinymce.init({
		selector: ".area_min",
		menubar: false,
		language: "ru"
	});
</script>
<% end %>