<% extend '_master' %>
<div class="wrapper wrapper-event">
        <div class="event-top-box">
            <div class="l-1260">
                <div class="holder">
                    <h1 class="page-heading"><span class="bold-text">Открытый тренинг</span> <br>в ИКМ НИУ ВШЭ</h1>
                    <!--<div id="reg-form" class="form-box reg-form">
                        <form action="#">
                            <fieldset>
                                <div class="form-row">
                                    <input class="text-input" type="text" placeholder="Ваш номер телефона*, перезвоним" required="required">
                                    <i class="demo-icon icon-ok">&#xe800;</i>
                                    <i class="demo-icon icon-cancel">&#xe801;</i>
                                    <button type="button" class="submit" id="submit-reg-form">Зарегистрироваться</button>
                                </div>
                            </fieldset>
                        </form>
                        <div class="alert-success hidden" id="reg-sucess-alert">
                            <h3>Спасибо! В теченни 20 минут мы Вам перезвоним.</h3>
                        </div>
                    </div>-->
                </div>
            </div>
        </div><!-- .event-top-box -->
        <div class="event-info">
            <div class="l-900">
                <div class="event-info-top">
                    <img class="ico-calendar" src="/media/images/ico-calendar.svg" alt="">
                    <div class="date-info">
                        <em class="date-big">08—09 октября 2016</em>
                        <p><em>Суббота—воскрсенье, начало в 10:00</em></p>
                    </div>
                    <div class="lector-info">
                        <img class="round-img" src="/media/images/img-face-round.png" alt="Фотография лектора">
                        <div class="lector-name">
                            <em>Тренинг ведет:</em>
                            <p><a href="#">Ниесов Игорь Владимирович</a></p>
                        </div>
                    </div>
                </div>
                <ul class="event-list l-3col">
                    <li>
                        <div class="holder">
                            <em>Место проведения:</em>
                            <p>г. Москва, ул. Мясницкая, д. 20</p>
                        </div>
                    </li>
                    <li>
                        <div class="holder">
                            <em>Стоимость:</em>
                            <p>19 000 руб.</p>
                            <p>17 000 руб. для слушателей и выпускников ИКМ.</p>
                        </div>
                    </li>
                    <li>
                        <div class="holder">
                            <em>Выдаваемые документы:</em>
                            <p>Удостоверение о повышении квалифиации.</p>
                        </div>
                    </li>
                </ul>
                <p class="event-descr">Сегодня основной ресурс компаний — это невостребованная внутренняя энергия сотрудников. Раскрытие потенциала человека с помощью инструментов интерактивного менеджмента способно создать вовлеченность, интерес, мотивацию, обеспечить высокую продуктивность — как самого руководителя, так и его команды.</p>
                <div class="event-knowledge">
                    <div class="l-600">
                        <h3>Что вы узнаете:</h3>
                        <ul class="mark-list">
                            <li>
                                <img src="/media/images/ico-list.svg" alt="">
                                <div class="list-text">
                                    Изучите, как устроена мотивация (by Z.Fraud, C.Hull, E.Mayo, A.Maslow, B.Skinner);
                                </div>
                            </li>
                            <li>
                                <img src="/media/images/ico-list.svg" alt="">
                                <div class="list-text">
                                    Познакомитесь с удивительной по глубине и практичности психоаналитической моделью мотивации (K.Horney);
                                </div>
                            </li>
                            <li>
                                <img src="/media/images/ico-list.svg" alt="">
                                <div class="list-text">
                                    Отработаете до уровня автоматизма «фокусы языка» — набор лингвистических приёмов для изменения убеждений;
                                </div>
                            </li>
                            <li>
                                <img src="/media/images/ico-list.svg" alt="">
                                <div class="list-text">
                                    Изучите «рефлексивную обратную связь» и другие эффективные техники из арсенала трансформационного коучинга (by R.Dilts, J.Ardui);
                                </div>
                            </li>
                            <li>
                                <img src="/media/images/ico-list.svg" alt="">
                                <div class="list-text">
                                    Обретете уверенность и самоконтроль в сложных ситуациях управленческого взаимодействия.
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .event-info -->
        <div class="about-program grey-box">
            <div class="l-900">
                <h2>О программе</h2>
                <div class="video-box">
                    <iframe width="100%" src="https://www.youtube.com/embed/PJYMqFF8K7U" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="l-600">
                    <h3>На кого рассчитан курс:</h3>
                    <ul class="mark-list">
                        <li>
                            <img src="/media/images/ico-list.svg" alt="">
                            <div class="list-text">
                                Руководители компаний и подразделений, нацеленные на построение бизнеса «через людей»;
                            </div>
                        </li>
                        <li>
                            <img src="/media/images/ico-list.svg" alt="">
                            <div class="list-text">
                                Всех, кто стремится освоить наиболее эффективные инструменты мотивирующего управления.
                            </div>
                        </li>
                    </ul>
                </div>
                <p><strong>Чтобы овладеть искусством профессиональной коммуникации для работы с мотивацией, руководителю нужны три основные вещи: </strong></p>
                <div class="step-list-holder">
                    <ul class="l-3col step-list">
                        <li>
                            <span class="page-heading">1</span>
                            <p>Знать, как устроена мотивация и психология поступков человека.</p>
                        </li>
                        <li>
                            <span class="page-heading">2</span>
                            <p>Влиять на установки, ценности и даже роли, которые определяют поведение человека.</p>
                        </li>
                        <li>
                            <span class="page-heading">3</span>
                            <p>Видеть, с кем ты имеешь дело.</p>
                        </li>
                    </ul>
                </div>
                <p>Тренинг «Профессиональные коммуникации руководителя: управление мотивацией и продуктивностью» обогащает арсенал руководителя коммуникативными приемами влияния на людей и их установки. Слушатели овладевают техниками чтения эмоциональных состояний и изменения тех убеждений, которые не позволяют людям демонстрировать требуемое поведение и достигать результатов, на которые они потенциально способны.</p>
                <p>Освоение приемов профессиональной коммуникации приводит руководителя к пониманию необъяснимой порой логики поступков, помогает выбирать оптимальный для каждого подчиненного способ мотивации, добиваться максимальной продуктивности, вовлеченности, ответственности, качества действий.</p>
                <div class="ico-holder">
                    <img class="ico-diagram" src="/media/images/ico-diagram.svg" alt="">
                </div>
                <p>Впервые на тренинге будет представлено решение задачи <strong>трансформации конкретного человека под требования организации</strong> &ndash; алгоритм приведения установок личности в соответствие культуре компании.</p>
                <p>Будет рассмотрена <strong>методика</strong> формирования мотивации на личностные изменения. Эта методика фокусируется на выявлении индивидуальных особенностей личности и её комплементарных качеств. С помощью техник коучинга и НЛП она позволяет диагностировать те качества и установки личности, которые являются её сильной стороной и соответствуют предъявляемым требованиям.</p>
                <p>Она же помогает находить те зоны, которые противоречат желаемой культуре и правилам организации. Предъявление человеку задачи развития как возможности выйти за рамки привычного себя, снять самоограничения и расшириться, создает мотивирующий вызов и стремление к изменениям.</p>
                <div class="ico-holder">
                    <img class="ico-question" src="/media/images/ico-question.svg" alt="">
                </div>
                <p>Далее с помощью системы регулярных тренировок, подкрепляемых специальными приемами мотивации и контроля, становится возможным скорректировать состояния, установки и ролевые модели, лежащие в основе нежелательного поведения.</p>
                <p>Все техники и приёмы иллюстрируются конкретными случаями изменений в руководителях, достигнутыми в ходе реализуемых проектов по развитию корпоративных культур и раскрытию человеческого потенциала организаций.</p>
            </div>
        </div>
        <div class="review-box">
            <div class="l-1260">
                <h2>Как это было в прошлый раз</h2>
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s3.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s4.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s5.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s6.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s7.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s8.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s9.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s10.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s11.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s12.jpg)"></div>
                    </div>
                </div><!-- .gallery-top -->
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s1.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s2.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s3.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s4.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s5.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s6.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s7.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s8.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s9.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s10.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s11.jpg)"></div>
                        <div class="swiper-slide" style="background-image:url(/media/images/slider-review/s12.jpg)"></div>
                    </div>
                </div><!-- .gallery-thumbs -->
                <div class="l-900 review-holder">
                    <h2>Отзывы участников</h2>
                    <div class="swiper-review-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <p>Матрица мотивации экономит время, она дает понять, что и когда делать. Это рабочий инструмент.</p>
                                <span class="review-autor">Денис</span>
                            </div>
                            <div class="swiper-slide">
                                <p>Скажу кратко: «Технологичность. Систематизация. Конкретизация.»</p>
                                <span class="review-autor">Елена</span>
                            </div>
                            <div class="swiper-slide">
                                <p>Нужно заставлять себя думать, анализировать, чтобы прийти к осознанию того, что ты делаешь, чтобы в работе действовать не формально, а осознанно.</p>
                                <span class="review-autor">Лина</span>
                            </div>
                            <div class="swiper-slide">
                                <p>Душа обязана трудиться. Думать, как балансировать, как этот баланс удержать в разных ситуациях.</p>
                                <span class="review-autor">Анастасия</span>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                </div><!-- .review-holder -->
            </div>
        </div><!-- .review-box -->
        <div class="grey-box form-section">
            <div class="l-600">
                <h2>Регистрация</h2>
                <p>
                    Регистрация по тел. <a class="link-black" href="tel:+74956289000">+7&nbsp;(495)&nbsp;628-90-00</a>, <a class="link-black" href="tel:+74956217423">+7 (495) 621-74-23</a> &ndash; Елена Грушина и <a class="link-black" href="tel:+79162930240">+7&nbsp;(916)&nbsp;293-02-40</a> &ndash; Захарова Марина
                </p>
                <div id="user-form" class="form-box">
                    <img class="ico-quick-reg" src="/media/images/ico-qiuck-reg.svg" alt="">
                    <form action="#" id="callme">
                        <fieldset>
                            <div class="form-row">
                                <input name="fosName" class="text-input" type="text" placeholder="Ваше имя" required="required">
                                <i class="demo-icon icon-ok">&#xe800;</i>
                                <i class="demo-icon icon-cancel">&#xe801;</i>
                            </div>
                            <div class="form-row">
                                <input name="fosPhone" class="text-input" type="text" placeholder="Номер телефона" required="required">
                                <i class="demo-icon icon-ok">&#xe800;</i>
                                <i class="demo-icon icon-cancel">&#xe801;</i>
                            </div>
                            <div class="form-row">
                                <input name="fosEmail" class="text-input" type="email" placeholder="Электронная почта" required="required">
                                <i class="demo-icon icon-ok">&#xe800;</i>
                                <i class="demo-icon icon-cancel">&#xe801;</i>
                            </div>
                            <div class="form-row">
                                <button type="button" class="submit" id="submit-user-form">Отправить</button>
                            </div>
                        </fieldset>
                    </form>
                    <div class="alert-success hidden" id="sucess-alert">
                        <h3>Спасибо!<br>Мы Вам перезвоним.</h3>
                    </div>
                </div><!-- #user-form -->
            </div>
        </div><!-- .form-section -->
    </div><!-- .wrapper -->
</div>
<% block 'scripts' : %>
<script type="text/javascript">
var galleryTop = new Swiper('.gallery-top', {
    spaceBetween: 0,
    loop:true,
    loopedSlides: 12
});
var galleryThumbs = new Swiper('.gallery-thumbs', {
    spaceBetween: 0,
    slidesPerView: 8,
    touchRatio: 0.2,
    loop:true,
    loopedSlides: 12,
    slideToClickedSlide: true,
    breakpoints: {
        450: {
            slidesPerView: 2
        },
        550: {
            slidesPerView: 3
        },
        750: {
            slidesPerView: 4
        },
        900: {
            slidesPerView: 5
        },
        1024: {
            slidesPerView: 6
        },
        1150: {
            slidesPerView: 7
        },
    }
});
galleryTop.params.control = galleryThumbs;
galleryThumbs.params.control = galleryTop;
var swiper = new Swiper('.swiper-review-container', {
    pagination: '.swiper-pagination',
    paginationClickable: true
    //autoHeight: true
});
</script>
<% end %>
